@charset "UTF-8";
body {
	font: 100% Sans-serif;
	margin: 16px;
	line-height: 24px;
}

#top {
	background-color: mediumpurple;
	color: white;
	padding: 16px
}

#main {
	margin: 16px;
	padding: 10px;
}

img {
	/*border: 4px solid plum;*/
	border-radius: 10%;
	transition: all 0.2s linear;
	overflow: hidden;
}

img:hover {
	transform: scale(1.2);
}

#intro {
	margin: 16px;
	border: 4px solid plum;
	border-style: inset;
	padding: 10px;
}

#question {
	margin: 16px;
	padding: 16px;
	border: 4px solid plum;
	border-style: inset;
	border-radius: 1%;
}

a {
	text-decoration: none;
}

#bottom {
	background-color: mediumpurple;
	text-align: center;
	padding: 6px;
	font-size: 80%;
	color: white;
	font-weight: bold;
}

#introduction {
	font-weight: bold;
	font-size: 100%;
}

#sidebar {
	background-color: powderblue;
	padding: 6px;
	width: 180px;
	position: absolute;
	top: 0px;
	right: 0px;
}