<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/fragments :: myhead}"></head>
<body>
<div class="container-fluid">

    <header th:replace="~{/layout/fragments :: myheader('포스트 작성')}"></header>
    
    <nav th:replace="~{/layout/fragments :: navigation}"></nav>
    
    <main class="my-2">
        <div class="my-2 card">
            <div class="card-header"></div>
            <div class="card-body">
                <form method="post" th:action="@{/post/create}">
                    <div class="my-2">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control"
                            id="title" name="title" autofocus required />
                            <!-- for와 id값은 같아야 함! for와 id를 매칭. 
                            	id는 요소를 찾기 위해 사용되고, form 전송을 위해서는 name을 사용함! -->
                    </div>
                    <div class="my-2">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" id="content" name="content" 
                            style="height: 120px;" required></textarea>
                    </div>
                    <div class="my-2">
                        <label for="author" class="form-label">작성자</label>
                        <input type="text" class="form-control"
                            id="author" name="author" th:value="${#authentication.name}" readonly />
                            <!-- thymeleaf-extras-springsecurity6에 있는 #authentication.name 유틸리티 클래스 이용. 
                            	 #authentication.name 유틸리티 클래스: 인증된 사용자의 username -->
                    </div>
                    <div class="my-2">
                        <button type="submit" 
                            class="btn btn-success form-control">작성완료</button>
                    </div>
                    <!-- form 안에 있어야 버튼이 제출됨!!! -->
                </form>
            </div>
            <div class="card-footer"></div>
        </div>
    </main>

</div>

<script th:replace="~{/layout/fragments :: bootstrap_js}"></script>
</body>
</html>