<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/fragments :: myhead}"></head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<body>
<div class="container-fluid">

    <header th:replace="~{/layout/fragments :: myheader ('포스트 상세보기')}"></header>
    
    <nav th:replace="~{/layout/fragments :: navigation}"></nav>
    
    <main class="my-2">
        <div class="my-2 card">
            <div class="card-header"></div>
            <div class="card-body" th:object="${post}">
                <form>
                    <div class="my-2">
                        <label for="id" class="form-label">No.</label>
                        <input type="text" class="form-control" id="id"
                            th:value="*{id}" readonly />
                    </div>
                    <div class="my-2">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="title"
                            th:value="*{title}" readonly />
                    </div>
                    <div class="my-2">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" id="content" style="height: 120px;" 
                            th:text="*{content}" readonly></textarea>
                    </div>
                    <div class="my-2">
                        <label for="author" class="form-label">작성자</label>
                        <input type="text" class="form-control" id="author"
                            th:value="*{author}" readonly />
                    </div>
                    <div class="my-2">
                        <label for="created" class="form-label">작성시간</label>
                        <input type="text" class="form-control" id="created"
                            th:value="*{#temporals.format(createdTime, 'yyyy-MM-dd HH:mm:ss')}" 
                            readonly />
                    </div>
                    <div class="my-2">
                        <label for="modified" class="form-label">최종수정시간</label>
                        <input type="text" class="form-control" id="modified"
                            th:value="*{#temporals.format(modifiedTime, 'yyyy-MM-dd HH:mm:ss')}" 
                            readonly />
                    </div>
                </form>
                <div class="my-2">
                    <a class="btn btn-success form-control"
                        th:href="@{/post/modify(id=*{id})}">수정하기</a>
                </div>
            </div>
            
    </main>
    
    <!-- 댓글 작성/목록 Collapse -->
    <div class="my-2 card">
    	<div class="card-header">
    		<!-- 댓글 보기/감추기 버튼 -->
    		<button class="btn btn-outline-secondary" id="btnToggleCollapse">댓글 보기</button>
    	</div>
    	<div class="card-body collapse" id="collapseComments">
    		<!-- 댓글 작성 -->
    		<div class="row my-2">
    			<div class="col-10">
    				<textarea class="form-control" id="cmtText" placeholder="댓글 입력"></textarea>
    				<input class="d-none" id="cmtWriter" th:value="'admin'" readonly/>
    			</div>
    			<div class="col-2">
    				<button class="btn btn-outline-success form-control" id="btnRegisterCmt">등록</button>
    			</div>
    		</div>
    		<!-- 댓글 목록 -->
    		<div class="my-2" id="cmtDiv"></div>
    	</div>
    </div>
    
</div>

<script th:replace="~{/layout/fragments :: bootstrap_js}"></script>
<!-- Axios 자바스크립트 모듈 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/comments.js"></script>
</body>
</html>