<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/fragments :: myhead}"></head>
<body>
<div class="container-fluid">

    <header th:replace="~{/layout/fragments :: myheader ('포스트 수정')}"></header>
    
    <nav th:replace="~{/layout/fragments :: navigation}"></nav>
    
    <main class="my-2">
        <div class="my-2 card">
            <div class="card-header"></div>
            <div class="card-body">
            	<!-- object: attribute에 post가 실려 있음! 
            		 model.addAttribute("post", entity); -->
                <form id="updateForm" th:object="${post}" 
                    method="post" th:action="@{/post/update}">
                    <div class="my-2 d-none">
                        <input type="text" id="id" class="form-control" 
                            name="id" th:value="*{id}" readonly />
                    </div>
                    <div class="my-2">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" 
                            id="title" name="title" th:value="*{title}" autofocus />
                    </div>
                    <div class="my-2">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" style="height: 120px;" 
                            id="content" name="content" th:text="*{content}"></textarea>
                    </div>
                    <div class="my-2 d-none">
                        <input type="text" class="form-control" 
                            th:value="*{author}" readonly />
                    </div>
                </form>
                <!-- 포스트 작성자와 인증된(로그인된) 사용자가 같으면... -->
                <div class="my-2 d-flex justify-content-end"
                	th:if="${post.author eq #authentication.name}">
                    <button id="btnDelete" class="mx-2 btn btn-danger">삭제</button>
                    <button id="btnUpdate" class="mr-2 btn btn-primary">업데이트</button>
                </div>
                <!-- form 밖에 있는 button: JavaScript 사용. -->
            </div>
            <div class="card-footer"></div>
        </div>
    </main>

</div>

<script th:replace="~{/layout/fragments :: bootstrap_js}"></script>
<script src="/js/post-modify.js"></script>
</body>
</html>