<!DOCTYPE html>
<html>
<head th:replace="~{/layout/fragments :: docHead ('HOME')}"></head>
<body>
	<!-- templates/layout/fragments.html 파일에서 선언된 프래그먼트 끼워넣기 -->
	<!-- ~{경로를 포함한 파일 이름 :: 프래그먼트 이름 (아규먼트)} -->

	<!-- div 태그가 header 태그로 교체됨 -->
	<div th:replace="~{/layout/fragments :: myHeader ('Home Page')}"></div>
	<!-- div 태그 안에 header 태그가 삽입됨 -->
	<div th:insert="~{/layout/fragments :: myHeader ('홈 페이지')}"></div>

	<nav th:replace="~{/layout/fragments :: navigation}"></nav>

	<!-- 내가 삽입(insert)한 fragment -->
	<div th:insert="/fragments/header :: header"></div>
	<div th:insert="/fragments/nav :: nav"></div>

	<h1>첫번째 Spring Boot 프로젝트</h1>
	<h2 th:text="${currentTime}"></h2>
	<h3 th:text="${book}"></h3>
	<div>
		제목: <span th:text="${book.title}"></span> <br /> 저자: <span
			th:text="|${book.author.lastName} ${book.author.firstName}|"></span>
	</div>

	<div th:object="${book}">
		제목: <span th:text="*{title}"></span> <br /> 저자: <span
			th:text="|*{author.lastName} *{author.firstName}|"></span>
	</div>

	<nav>
		<ul>
			<li>
				<!-- 질의문자열(query string)을 포함하는 URL 작성 방법 --> <a
				th:href="@{/book(id=2)}">책 상세 페이지 1</a> <!-- http://localhost:8081/book?id=1 주소 출력됨 -->
			</li>
			<li>
				<!-- path variable을 포함하는 URL 작성 방법 --> <a th:href="@{/book/} + 1">책
					상세 페이지 2</a> <!-- http://localhost:8081/book/1 주소 출력됨 -->
			</li>
			<li><a th:href="@{/books/list}">책 리스트</a></li>
		</ul>
	</nav>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>
</html>